body {
  background-color: #2b2b2b;
  color: #e0e0e0;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    padding: 20px;
    box-sizing: border-box;
  }
.title {
  text-align: center;
  padding: 30px 0;
}

.label {
  display: block;
  margin: 30px 0 10px;
  text-align: center;
}

.textarea {
  background-color: #4a4a4a;
  border: none;
  border-radius: 5px;
  color: #e0e0e0;
  display: block;
  margin: 0 auto;
  padding: 10px;
  width: 80%;
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; // centrer les boutons
  margin: 20px 0;
}

.button {
  background-color: #5c5c5c;
  border: none;
  border-radius: 5px;
  color: #e0e0e0;
  cursor: pointer;
  font-size: 16px;
  margin: 10px;
  padding: 10px 20px;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #737373;
}

.info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 20px; // créer un espace entre les boutons et les informations
}

.info-item {
  display: flex;
  align-items: center;
  gap: 5px;
}

.info-label {
  font-weight: bold;
}

.info-item:not(:last-child)::after {
  content: "|";
  margin-left: 5px;
  margin-right: 5px;
}

@media screen and (max-width: 480px) {
  .info-container {
    flex-direction: column;
  }
  .info-item {
    margin-bottom: 10px;
  }
  .info-item:not(:last-child)::after {
    content: none;
  }
}

.message {
  background-color: #285e1e;
  border-radius: 5px;
  color: #fff;
  padding: 10px;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
  text-align: center;
  margin-bottom: 20px; // créer un espace entre le message et les informations
}

.message.show {
  opacity: 1;
}body {
    background-color: #2b2b2b;
    color: #e0e0e0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .title {
    text-align: center;
    padding: 30px 0;
  }
  
  .label {
    display: block;
    margin: 30px 0 10px;
    text-align: center;
  }
  
  .textarea {
    background-color: #4a4a4a;
    border: none;
    border-radius: 5px;
    color: #e0e0e0;
    display: block;
    margin: 0 auto;
    padding: 10px;
    width: 80%;
  }
  
  .button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; // centrer les boutons
    margin: 20px 0;
  }
  
  .button {
    background-color: #5c5c5c;
    border: none;
    border-radius: 5px;
    color: #e0e0e0;
    cursor: pointer;
    font-size: 16px;
    margin: 10px;
    padding: 10px 20px;
    transition: background-color 0.3s;
  }
  
  .button:hover {
    background-color: #737373;
  }
  
  .info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 20px; // créer un espace entre les boutons et les informations
  }
  
  .info-item {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .info-label {
    font-weight: bold;
  }
  
  .info-item:not(:last-child)::after {
    content: "|";
    margin-left: 5px;
    margin-right: 5px;
  }
  
  @media screen and (max-width: 480px) {
    .info-container {
      flex-direction: column;
    }
    .info-item {
      margin-bottom: 10px;
    }
    .info-item:not(:last-child)::after {
      content: none;
    }
  }
  
  .message {
    background-color: #285e1e;
    border-radius: 5px;
    color: #fff;
    padding: 10px;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
    text-align: center;
    margin-bottom: 20px; // créer un espace entre le message et les informations
  }
  
  .message.show {
    opacity: 1;
  }